# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/

# Django
db.sqlite3
media/

# Environment variables
.env

# VS Code
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Static build files
staticfiles/

# PyCharm
.idea/

# Migrations cache
*.sqlite3